<footer class="pv4 ph3 ph5-m ph6-l">
  <div class="tc mt3">
    <a href="/" title="Home" class="f6 dib ph2 link moon-gray dim">Home</a>
    <a href="https://github.com/gjtorikian/past.codes" title="Source" class="f6 dib ph2 link moon-gray dim">Source</a>
    <a href="/privacy"  title="Privacy" class="f6 dib ph2 link moon-gray dim">Privacy</a>
  </div>
</footer>
