<h1 class="mt0">
  <%= svg "logo_huge" %>
</h1>
<h2 class="fw1 f3 white-80 mt3 mb4">
Remember the repositories you starred on GitHub.
</h2>

<p class="f4 lh-copy measure">
Pastcodes will send you weekly (or if you prefer, monthly!) emails
that remind you of the repositories you starred on GitHub. It'll let
you know if these repositories are looking for help, or sponsorship,
and recommend related projects.
</p>

<p class="f5 lh-copy measure-narrow">
That's it.
</p>
