<h1 class="mt0">
  <%= svg "logo_huge.min" %>
</h1>
<h2 class="fw1 f3 white-80 mt3 mb4">
Remember the repositories you starred on GitHub.
</h2>

<% if signed_in? %>

<p class="f4 lh-copy measure">
Hello, <%= current_user.github_username %>!
</p>

<% end %>

<p class="f4 lh-copy measure">
Pastcodes will send you weekly (or if you prefer, monthly!) emails
that remind you of the repositories you starred on GitHub. It'll let
you know if these repositories are looking for help, or sponsorship,
and recommend related projects.
</p>

<p class="f4 lh-copy measure">
It looks like this:

<img src="/sample_email.png" class="w-100 pt4 f5 measure" alt="Sample of email">

</p>

<p class="f5 lh-copy measure-narrow">
That's it.
</p>
