<h1>Privacy Policy</h1>
<hr>

<p>
  In order to show our commitment to keeping your data safe and your inbox spam free,
  this page lists precisely what information we store and use.
</p>

<h2>Data We Collect</h2>
<p>
  When you sign up to Pastcodes, we store just your GitHub username. We will <strong><u>never</u></strong> give away or abuse that information.
</p>
<p>
  Your starred repository data is kept at GitHub and retrieved through an API call.
  Only public information about your starred repositories are retrieved.
  The token we use to access this data is encrypted.
</p>

<h2>Processing And Storing Your Data</h2>
<p>
  Your data is processed by servers owned by Heroku.
</p>

<h2>Changes To This Privacy Policy</h2>
<p>
  From time to time we may modify or update our privacy policy. We will do so by updating this page.
</p>
