<div>
  <img src="https://past.codes/logo_email.png" class="header">
</div>

<p class="alt-lead">
  Looking back <strong>@<%= @view.github_username %>'s</strong> starred repositories...
</p>

<% unless @view.has_public_repo_scope.present? %>
<div class="warning">
  Pastcodes needs additional OAuth access to provide you with more data!
  Could you please <a class="link" href="https://past.codes">sign out and back in at https://past.codes</a>?
</div>
<% end %>
