<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <%= render :partial => "reminder_mailer/styles" %>
  </head>
  <body>

  <table class="body" width="100%" bgcolor="#fff">
    <tr>
      <td valign="top"></td>
      <td class="container" width="580" valign="top">
        <div class="content">

          <!--email content-->

          <%= render :partial => "reminder_mailer/header" %>

          <%= render :partial => "reminder_mailer/starred_repositories" %>

          <div class="footer">
            <hr class="footer-hr">
            <div class="footer-links">
              <p class="footer-text">
                <a class="footer" href="<%= @view.settings_url %>">Change frequency or unsubscribe</a>
              </p>
            </div>
            <p class="footer-text"><3</p>
          </div>
        </div>

      </td>
    </tr>
  </table>

  </body>
</html>
